@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  --Light-grayish-blue: hsl(240, 5%, 91%);
  --White: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
  display: grid;
  gap: 24px;
  place-content: center;
  padding: 15rem 6% 10rem;
}

/* MAIN */
.content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  background-color: var(--White);
  border-radius: 2rem;
  box-shadow: 0 10px 40px var(--Very-dark-desaturated-blue);
  min-width: 33rem;
  max-width: 33rem;
}
@media (min-width: 1440px) {
  .content {
    position: relative;
    flex-direction: row;
    max-width: 100%;
    width: 924px;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-position-x: -536px;
    background-position-y: -281px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
.content .header {
  padding: 2.4rem 2.4rem 4.8rem;
}
@media (min-width: 1440px) {
  .content .header {
    padding: 8rem 10rem;
    width: 100%;
    overflow: hidden;
  }
}
.content .header__img {
  width: 24rem;
  margin: -13.2rem auto 0;
  display: block;
}
@media (min-width: 1440px) {
  .content .header__img {
    display: none;
  }
}
.content .header__img--shadow {
  content: url(../images/bg-pattern-mobile.svg);
  width: 24rem;
  margin: -7rem auto 0;
}
@media (min-width: 1440px) {
  .content .header__img--shadow {
    content: "";
  }
}
.content .header__img-desktop {
  display: none;
}
@media (min-width: 1440px) {
  .content .header__img-desktop {
    display: block;
    width: 47rem;
    margin: -2rem 0 0 -18rem;
  }
}
.content .header__img-box {
  display: none;
}
@media (min-width: 1440px) {
  .content .header__img-box {
    display: block;
    position: absolute;
    top: 19rem;
    left: -9rem;
    z-index: 1000;
  }
}
.content .card {
  padding: 2.4rem 2.4rem 4.8rem;
  display: grid;
  gap: 3.2rem;
}
@media (min-width: 1440px) {
  .content .card {
    width: 100%;
    padding: 8rem 10rem 8rem 0;
  }
}
.content .card__title {
  text-align: center;
  font-size: 3.2rem;
  line-height: 4rem;
}
@media (min-width: 1440px) {
  .content .card__title {
    text-align: left;
  }
}
.content .card__content {
  display: grid;
  gap: 1.6rem;
}
.content .card__details {
  font-size: 1.4rem;
}
.content .card__details[open] {
  font-weight: 700;
}
.content .card__details[open] .card__arrow {
  transform: rotate(180deg);
  transition: 300ms;
}
.content .card__summary {
  position: relative;
  list-style: none;
  cursor: pointer;
}
.content .card__summary:hover {
  color: var(--Soft-red);
  font-weight: 700;
}
.content .card__text {
  color: var(--Dark-grayish-blue);
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.content .card__arrow {
  position: absolute;
  right: 5px;
  transition: 300ms;
  top: 6px;
}
.content .card__line {
  border-color: transparent;
  border-bottom-color: 1px solid var(--Light-grayish-blue);
  margin: 0;
}

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */